/* Header Navigation bar */
nav {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(20,20,20);
    color: #fff;
    padding: 0 25px;
    width: 100%;
}

nav .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .left img {
    padding-top: 5px;
}

nav .left .tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

nav .left .tab p {
    margin-left: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

nav .left .tab p:hover{
    color: #909191;
}

nav .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .right p {
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

nav .right p:hover{
    color: #909191;
}

nav.transparent {
    background-color: rgba(20, 20, 20, 0%);
  }

/* End of Header navigation bar */

/* Best movie */

.best-movie-container-image {
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.best-movie-info {
    margin-left: 50px;
    position: absolute;
    top: 50%; 
    transform: translate(0%, -50%);
}

@media only screen and (max-width: 600px) {
    .best-movie-info {
      width: 70%;
      height: 70%;
    }
  }

.best-movie-container-image img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 50%;
}

.best-movie-synopsis {
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.1vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    width: 100%;
    margin-top: 20px;
}

.button-play {
    background-color: white;
    color: black;
    cursor: pointer;
}

.button-info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    cursor: pointer;
}

.button-best-movie {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center; 
    justify-content: center;
    border: none;
}

.button-play {
    border-radius: .25rem;
    width: 140px;
    height: 35px;
    padding: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

  .button-info {
    border-radius: .25rem;
    width: 160px;
    height: 35px;
    padding: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    .button-play, .button-info {
      font-size: 10px;
      padding: 5px;
      width: 100px;
      height: 20px;
    }
}
  

.button-best-movie .fa-solid {
    margin-right: 10px; 
}
  
.best-movie-info img{
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

/* End of Best film */

/* Carousel UI */

.section {
    background-color: rgb(14,14,14);
    padding: 25px;
}

.section .header .container {
    margin-bottom: 55px;
}

.section .header .h2 {
    color: #fff;
}

.container img {
    padding-left: 5px;
    transition: transform 0.25s;
    cursor: pointer;
}

.container img:hover{
    transform: scale(1.15);
}

*, *::after, *::before {
    box-sizing: border-box;
  }

:root {
    --slider-padding: 5rem;
    --handle-size: 3rem;
    --img-gap: .25rem; 
}

.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

body {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20,20,20);
}

.slider {
    --slider-index: 0;
    --items-per-screen: 6;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.slider > img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    padding: var(--img-gap);
    border-radius: .75rem;
    overflow: hidden;
    height: 120px;
}

.handle {
    border: none;
    border-radius: .75rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--handle-size);
    z-index: 10;
    margin: var(--img-gap) 0;
    padding: 0 .5rem;
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: transform .1s ease-out 0s;
    overflow: hidden;
    opacity: 0%;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: black;
    opacity: 50%;
}


.text {
    transition: transform 150ms ease-in-out;
    color: #fff;
    font-size: 2.5vw;
}

.handle:hover .text,
.handle:focus .text {
    transform: scale(1.5);
}

.progress-bar {
    display: flex;
    gap: .10rem;
}

.progress-item {
    flex: 0 0 0.75rem;
    width: 1rem;
    height: .10rem;
    background-color: rgba(255, 255, 255, .5);
}

.progress-item.active {
    background-color: rgba(255, 255, 255, .9);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
}

.title {
    font-size: 1.4vw;
    margin: 0;
}

@media (max-width: 1200px) {
    .slider {
        --items-per-screen: 5;
    }
}

@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 4;
    }
}

@media (max-width: 800px) {
    .slider {
        --items-per-screen: 3;
    }
}

/* End of Carousel UI */

/* Footer */

footer{
    background-color: rgb(14,14,14);
    padding: 25px 100px;
    color: grey;
}

footer .columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* End of footer */

/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 90%;
    background-color: black;
    border-radius: .5rem;
    z-index: 1;
}

.modal-content {
    padding: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 150px 200px;
    gap: 10px;

}

.modal-info {
    font-size: 16px;
}


.modal button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
}

.fa-solid.fa-xmark {
    font-size: 20px;
    line-height: 40px;
}



/* End of Modal */